#login-form {
    display: flex;
    flex-direction: column;
    width: 20em;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(20, 20, 20);
}

#login-page {
    display: flex;
    flex-direction: column;
    text-align: center
}

input {
    margin: 10px;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 10px;
}

#createAccount {
    text-decoration: none;
    color: inherit;
}