:root {
    --primary-color: #282c34;
    --background-color: rgb(85, 170, 200);
    --primary-blue: rgb(0, 150, 136);
    --primary-green: rgb(139, 195, 74)
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

#profileCard {
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(20, 20, 20);
    border-radius: 10px;
    margin: 20px auto;
    width: 20rem;
}

#userList {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#messagesDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#postMessageForm {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#postMessageForm button {
    flex-shrink: 1;
}

#postMessageInput {
    width: 70%;
    height: 5em;
    border-radius: 10px;
    /* box-shadow: 0 5px 10px rgb(20, 20, 20); */
    text-align: center;
    border: 2px solid rgb(150, 150, 150)
}

#registerContainer {
    box-shadow: 0 5px 10px rgb(20, 20, 20);
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    width: 30%;
    border-radius: 10px;
}

#editProfilePage {
    text-align: center;
}

#editProfileContainer {
    box-shadow: 0 5px 10px rgb(20, 20, 20);
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

.componentHeader {
    text-shadow: 1px 1px 1px gray;
}

.delete {
    background-color: red;
    color: white;
    font-weight: bold;
}

button {
    border-radius: 10px;
    background-color: var(--primary-blue);
    color: white;
    font-weight: bold;
}

input {
    border-radius: 10px;
}

label {
    font-weight: bold;
}

h2 {
    text-align: center;
    color: var(--primary-blue);
}

h1,
h2,
h3,
h4,
h4,
h6 {
    text-shadow: 1px 1px 1px gray;
}

#addUserLoginLink,
#editProfileLink,
.linkButton {
    color: inherit;
    text-decoration: none;
}

#notFoundPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}